body{
  margin: 0px;
}

.border{
  border: 2px solid red;
}

.wrapper{
  display: flex;
  flex-direction: row;
  border: 2px solid;
  margin-top: 5px;
}

.width-50{
  width: 50%;
  height: 50vh;
}

.btn{
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin-top: 15px;
}

.label{
  display: inline-block;
    width: 150px;
}

.input{
  width: 200px;
    font-size: 16px;
}

.m-top-15{
  margin-top: 15px;
}